.mob-note{
  width:360px;
}

.center__img--mob{
  width: 323px;
  height: 583px;
  margin:0;
}

.left__bar--mob{
  margin-top:87px;
}
.right__bar--mob{
  margin-top: 47px;
}

.privacy__mob,.send__mob,.transactions__mob,.receive__mob{
  position: relative;
}

.send__mob::after{
  content:"";
  position:absolute;
  top:20px;
  left:65px;
  width:352px;
  height:2px;
  background-color: #18518b;
}

.transactions__mob::after{
    content:"";
    position:absolute;
    top:20px;
    left:65px;
    width:352px;
    height:2px;
    background-color: #18518b;
}

.privacy__mob::before{
  content:"";
  position:absolute;
  top:20px;
  right:65px;
  width:352px;
  height:2px;
  background-color: #18518b;
}


.receive__mob::before{
  content:"";
  position:absolute;
  top:20px;
  right:65px;
  width:310px;
  height:2px;
  background-color: #18518b;
}

.receive__mob::after{
  content:"";
  position:absolute;
  bottom:200px;
  right:373px;
  width:2px;
  height:180px;
  background-color: #18518b;
}

.receive__mob span::before{
  content:"";
  position:absolute;
  bottom:203px;
  right:334px;
  width:44px;
  height:2px;
  background-color: #18518b;
}
