<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Wallet mobile</title>

    <link rel="stylesheet" href="../fonts/ProximaNova/fonts.css" />
    <link rel="stylesheet" href="../stylesheet/normalize.css" />
    <link rel="stylesheet" href="../stylesheet/mobile.css" />
  </head>
  <body class="wallet-instructions-body-android">
    <div class="wallet-instructions-wrapper-android">
      <header class="wallet-instructions-header-android">
        <h2 class="wallet-instructions-header__title-android">
          How to use wallet
        </h2>
      </header>

      <div class="wallet-instructions-content-android">
        <div class="wallet-instructions-content-android__left">
          <div
            class="wallet-instructions-note-android wallet-instructions-send-android"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="40"
              height="40"
              viewBox="0 0 40 40"
            >
              <g fill="none" fill-rule="evenodd">
                <rect width="40" height="40" fill="#18518B" rx="3" />
                <path
                  fill="#39FDF2"
                  d="M19.833 30V15.042l-4.188 3.78L14 17.332 21 11l7 6.333-1.645 1.49-4.188-3.78V30z"
                />
              </g>
            </svg>
            <p class="wallet-instructions-note__title-android">Send</p>
            <p class="wallet-instructions-note__description-android">
              Simple actions will require even less clicks yet enabling much
              greater flexibility when it comes to (re)using the addresses
            </p>
          </div>

          <div
            class="wallet-instructions-note-android wallet-instructions-transactions-android"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="40"
              height="40"
              viewBox="0 0 40 40"
            >
              <g fill="none" fill-rule="evenodd">
                <rect width="40" height="40" fill="#18518B" rx="3" />
                <path
                  fill="#39FDF2"
                  d="M10.5 24.333h14.958l-3.78-4.188 1.49-1.645 6.332 7-6.333 7-1.49-1.645 3.78-4.188H10.5z"
                />
                <path
                  fill="#39FDF2"
                  d="M29.5 15.667H14.542l3.78 4.188-1.49 1.645-6.332-7 6.333-7 1.49 1.645-3.78 4.188H29.5z"
                />
              </g>
            </svg>
            <p class="wallet-instructions-note__title-android">Transactions</p>
            <p class="wallet-instructions-note__description-android">
              See all transactions history. Swipe to repeat transaction. It will
              save your time when sending Beam again to the same address: choose
              any transaction, re-edit amount and comment and tap send
            </p>
          </div>
        </div>

        <div class="wallet-instructions-center-android">
          <img
            class="wallet-instructions-center__img-android"
            src="../assets/images/image-mob.png"
            alt="wallet screen"
          />
        </div>

        <div class="wallet-instructions-content-android__right">
          <div
            class="wallet-instructions-note-android wallet-instructions-privacy-android"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="40"
              height="40"
              viewBox="0 0 40 40"
            >
              <g fill="none" fill-rule="evenodd">
                <rect width="40" height="40" fill="#18518B" rx="3" />
                <path
                  fill="#39FDF2"
                  fill-rule="nonzero"
                  d="M19.864 12.637c-4.533 0-8.645 2.575-11.678 6.76a1.006 1.006 0 0 0 0 1.164c3.033 4.188 7.145 6.764 11.678 6.764 4.534 0 8.645-2.576 11.68-6.76a1.006 1.006 0 0 0 0-1.164c-3.035-4.189-7.146-6.764-11.68-6.764zm.326 12.516c-3.01.196-5.495-2.38-5.306-5.51.156-2.58 2.17-4.673 4.655-4.834 3.01-.197 5.495 2.38 5.306 5.51-.16 2.575-2.175 4.667-4.655 4.834zm-.15-2.39c-1.622.106-2.962-1.28-2.855-2.964.083-1.39 1.17-2.515 2.51-2.606 1.62-.106 2.96 1.28 2.854 2.964-.088 1.397-1.175 2.52-2.51 2.606z"
                />
              </g>
            </svg>
            <p class="wallet-instructions-note__title-android">Privacy mode</p>
            <p class="wallet-instructions-note__description-android">
              To hide balances and UTXO during the face-to-face transaction.
              Only the amounts of the current transaction will be visible
            </p>
          </div>

          <div
            class="wallet-instructions-note-android wallet-instructions-receive-android"
          >
            <span></span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="40"
              height="40"
              viewBox="0 0 40 40"
            >
              <g fill="none" fill-rule="evenodd">
                <rect width="40" height="40" fill="#18518B" rx="3" />
                <path
                  fill="#39FDF2"
                  d="M18.833 11v14.958l-4.188-3.78L13 23.668 20 30l7-6.333-1.645-1.49-4.188 3.78V11z"
                />
              </g>
            </svg>

            <p class="wallet-instructions-note__title-android">Receive</p>
            <p class="wallet-instructions-note__description-android">
              Simple actions will require even less clicks yet enabling much
              greater flexibility when it comes to (re)using the addresses
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="modals">
      <div
        class="wallet-instructions-modal-android wallet-instructions-send__modal-android"
      >
        <div class="wallet-instructions-close-android"></div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          viewBox="0 0 40 40"
        >
          <g fill="none" fill-rule="evenodd">
            <rect width="40" height="40" fill="#18518B" rx="3" />
            <path
              fill="#39FDF2"
              d="M19.833 30V15.042l-4.188 3.78L14 17.332 21 11l7 6.333-1.645 1.49-4.188-3.78V30z"
            />
          </g>
        </svg>
        <p class="wallet-instructions-modal-note__title-android">Send</p>
        <p class="wallet-instructions-modal-note__description-android">
          Simple actions will require even less clicks yet enabling much greater
          flexibility when it comes to (re)using the addresses
        </p>
      </div>

      <div
        class="wallet-instructions-modal-android wallet-instructions-transactions__modal-android"
      >
        <div
          class="wallet-instructions-close-android wallet-instructions-transactions__close-android"
        ></div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          viewBox="0 0 40 40"
        >
          <g fill="none" fill-rule="evenodd">
            <rect width="40" height="40" fill="#18518B" rx="3" />
            <path
              fill="#39FDF2"
              d="M10.5 24.333h14.958l-3.78-4.188 1.49-1.645 6.332 7-6.333 7-1.49-1.645 3.78-4.188H10.5z"
            />
            <path
              fill="#39FDF2"
              d="M29.5 15.667H14.542l3.78 4.188-1.49 1.645-6.332-7 6.333-7 1.49 1.645-3.78 4.188H29.5z"
            />
          </g>
        </svg>
        <p class="wallet-instructions-modal-note__title-android">
          Transactions
        </p>
        <p class="wallet-instructions-modal-note__description-android">
          See all transactions history. Swipe to repeat transaction. It will
          save your time when sending Beam again to the same address: choose any
          transaction, re-edit amount and comment and tap send
        </p>
      </div>
      <div
        class="wallet-instructions-modal-android wallet-instructions-privacy__modal-android"
      >
        <div
          class="wallet-instructions-close-android wallet-instructions-privacy__close-android"
        ></div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          viewBox="0 0 40 40"
        >
          <g fill="none" fill-rule="evenodd">
            <rect width="40" height="40" fill="#18518B" rx="3" />
            <path
              fill="#39FDF2"
              fill-rule="nonzero"
              d="M19.864 12.637c-4.533 0-8.645 2.575-11.678 6.76a1.006 1.006 0 0 0 0 1.164c3.033 4.188 7.145 6.764 11.678 6.764 4.534 0 8.645-2.576 11.68-6.76a1.006 1.006 0 0 0 0-1.164c-3.035-4.189-7.146-6.764-11.68-6.764zm.326 12.516c-3.01.196-5.495-2.38-5.306-5.51.156-2.58 2.17-4.673 4.655-4.834 3.01-.197 5.495 2.38 5.306 5.51-.16 2.575-2.175 4.667-4.655 4.834zm-.15-2.39c-1.622.106-2.962-1.28-2.855-2.964.083-1.39 1.17-2.515 2.51-2.606 1.62-.106 2.96 1.28 2.854 2.964-.088 1.397-1.175 2.52-2.51 2.606z"
            />
          </g>
        </svg>
        <p class="wallet-instructions-modal-note__title-android">
          Privacy mode
        </p>
        <p class="wallet-instructions-modal-note__description-android">
          To hide balances and UTXO during the face-to-face transaction. Only
          the amounts of the current transaction will be visible
        </p>
      </div>
      <div
        class="wallet-instructions-modal-android wallet-instructions-receive__modal-android"
      >
        <div
          class="wallet-instructions-close-android wallet-instructions-receive__close-android"
        ></div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          viewBox="0 0 40 40"
        >
          <g fill="none" fill-rule="evenodd">
            <rect width="40" height="40" fill="#18518B" rx="3" />
            <path
              fill="#39FDF2"
              d="M18.833 11v14.958l-4.188-3.78L13 23.668 20 30l7-6.333-1.645-1.49-4.188 3.78V11z"
            />
          </g>
        </svg>

        <p class="wallet-instructions-modal-note__title-android">Receive</p>
        <p class="wallet-instructions-modal-note__description-android">
          Simple actions will require even less clicks yet enabling much greater
          flexibility when it comes to (re)using the addresses
        </p>
      </div>
    </div>

    <script src="../js/modal.js"></script>
  </body>
</html>
